

.ui.card.custom-card {
  width:180px;
  height: 360px;
  margin:30px;
  
}
.space-cards{
  align-items: center;
}
.space-movie-card{
  margin-bottom:30px;
}

.custom-search-bar {
  width: 98%; 
  margin-left:10px; 
  height: 40px; 
  color:black;
  margin-bottom: 10px;
  border-radius: 10px;

}
.space{
  padding-top: 25px;
}

.color-header{
  background-color: black;

}
.custom-background{
  background-color: #343739;

}

